@font-face{
    font-family: "Raleway-regular";
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face{
    font-family: "Raleway-medium";
    src: url(../fonts/Raleway-Medium.ttf);
}
@font-face{
    font-family: "Raleway-bold";
    src: url(../fonts/Raleway-Bold.ttf);
}
@font-face{
    font-family: "Raleway-semibold";
    src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face{
    font-family: "Raleway-black";
    src: url(../fonts/Raleway-Black.ttf);
}
@font-face{
    font-family: "Raleway-extrabold";
    src: url(../fonts/Raleway-ExtraBold.ttf);
}
:root{
    --primary:#EEBF00;
    --secondary:#232838;
    --ternary:#6C6C6C;
    --danger:#fe4545;
    --pure:#FEFEFE;
    --light:#F0f0f0;
    --heaven:#ffffff;
    --footer:#2d333f;
}
body{
    margin: 0;
    padding: 0;
    height: 4000px;
    
}
/** nav bar*/
.flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.item-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.magic-shadow{
    position: relative;
    background: var(--heaven);
}
.magic-shadow:after{
    content:'';
    display: block;
    width: 100%;
    height: 69px;
    background-image: url(../icons/shadow.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -22px;
    
    z-index: -1;
}
.magic-shadow-sm{
    position: relative;
    background: var(--heaven);
}
.magic-shadow-sm:after{
    content:'';
    display: block;
    width: 100%;
    height: 69px;
    background-image: url(../icons/shadow-sm.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
.btn{
    padding: 0.75rem 0.75rem;
    border-radius: 4px;
    
    line-height: 0.8;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all .3s ease;
    border: 1px solid transparent;
}
.btn-primary{
    background: var(--primary);
    color: var(--heaven);
}
.btn-primary:hover{
    color: var(--primary);
    background: var(--heaven);
    border: 1px solid var(--primary);
}
.btn-secondary{
    background: var(--secondary);
    color: var(--heaven);
}
.btn-secondary:hover{
    color: var(--secondary);
    background: var(--heaven);
    border: 1px solid var(--secondary);
}
nav .top{
    padding: 1.5rem 0;
}
nav .top .contact h5,nav .top .time h5{
    font-family: 'Raleway-Black';
    margin-bottom: 0.25rem;
}
nav .top .contact h6,nav .top .time h6{
    font-family: 'Raleway-medium';
    letter-spacing: 0.055rem;
    color: var(--ternary);
}
nav .top .contact img , nav .top .time img{
    margin-right: 1rem;
}
/*navbar*/
nav .navbar a{
    text-decoration: none;
    color: var(--secondary);
    font-family: 'Raleway-SemiBold';
    font-size: 1rem;
    padding: 1rem 1.5rem;
    transition: all .5s ease;
}
nav .navbar a.active{
    background: var(--primary);
    color: var(--pure);
}
nav .navbar a:hover{
    background: var(--primary);
    color: var(--pure);
}
/*navbar ends*/
.header{
    margin-top:2rem;
    height: 100vh;
    background: url(../pics/apple.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.header .form-box input{
    font-family: 'Raleway-Medium';
    font-size: 1.5rem;
}
.header .form-box button img{
    height: 30%;
    padding: 0;
    margin: 0;
}
.header h1{
    font-family: 'Raleway-Bold';
    color:white;
    margin-bottom: 4rem;
    font-size: 45px;
    letter-spacing: 2px;
    
}
.header h1 span{
    color: var(--primary);
}
.header .search-field{
    height: 50px;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 25px;
    outline: none;
}

.search-btn{
    height: 70px;
    width: 150px;
    background: var(--primary);
    border: none;
    border-radius:25px;
    
}
.search-btn:hover{
    border: 2px solid var(--primary);
    background: var(--secondary);
    color: var(--primary);
    cursor: pointer;
    border: none;
}
section .welcome .container img{
    height: 50%;
    width: auto;
}
.image img{
    height: 500px;
    width: 450px;
}
.flex{
    display: flex;
}
.flex-1{
    flex: 1;
}
.justify-between{
    justify-content: space-between;
}
.item-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.text-center{
    text-align: center;
}
.btn{
    padding: 0.75rem 0.75rem;
    border-radius: 4px;
    
    line-height: 0.8;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all .3s ease;
    border: 1px solid transparent;
}
.section-heading{
    font-family: 'Raleway-Bold';
    text-align: center;
    position: relative;
    margin-bottom: 6rem;
    font-size: 3rem;

}
.section-heading:after{
    content: '';
    display: block;
    width: 100%;
    height: 30px;
    background-image: url(../icons/hr.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -40px;
}
/*food slider*/
section{
    
    padding: 4rem 0;
    background: var(--light);
    
   
}
section.welcom .food-slider .food-card{
    background: var(--heaven);
    padding: 1.5rem 0;
    border-radius: 4px;
}
section.welcom .food-slider .food-card .product-image img{
    width: 80%;
    height: 200px;
    object-fit: contain;
}
hr{
    border: 1px solid var(--light);
    opacity: 0.8;
    margin: 1rem 0;
    
}
section.welcom .food-slider .food-card h2{
    font-family: 'Raleway-Bold';
    font-size: 1.3rem;
    margin-bottom: 0.25rem;
}
section.welcom .food-slider .food-card button{
    font-family: 'Raleway-Medium';
    color: var(--secondary);
    background: var(--heaven);
    border:2px solid var(--primary);
    border-radius: 4px;
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 1rem;
    cursor: pointer;
    transition: all .3s ease;
}
section.welcom .food-slider .food-card button:hover{
    background: var(--primary);
    color: var(--pure);
}
.food-slider .food-card button img{
    background: var(--primary);
    padding: 0.50rem;
    height: 32px;
    margin-right: 1.2rem;
}
.slick-slide{
    margin:0 27px;
}
.slick-list{
    margin: 0 -27px;
}
.slider-btn{
    width: 30px;
    height: 30px;
    border: none;
    background: var(--primary);
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}
.slider{
    position: relative;
}
.prev-btn{
    position: absolute;
    top: 46%;
    left: 1rem;
    z-index: 1;
}
.next-btn{
    position: absolute;
    top: 46%;
    right: 1rem;
    z-index: 1;
}
.btn-secondary{
    background: var(--secondary);
    color: var(--heaven);
}
.btn-secondary:hover{
    color: var(--secondary);
    background: var(--heaven);
    border: 1px solid var(--secondary);
}
.btn-wrapper{
    margin-top: 2rem;
}
/*find your restraunt*/
section.rest{
    height: 500px;
    background: var(--primary);
    margin: 0;
    padding: 0;
    margin-bottom: 6rem;
    box-shadow: 0 25px 30px rgba(0,0,0,.5);
}
section.rest .rest-image img{
    height: 500px;

}
section.rest .content{
    flex-direction: column;
}
section.rest .content h1{
    font-family: 'Raleway-Bold';
    font-size: 3rem;
    margin-left: 4rem;
    margin-bottom: -1rem;
}
section.rest .content p{
    font-family: 'Raleway-Medium';
    font-size: 1.5rem;
    margin: 2rem 4rem;
}
section.rest .content button{
    width: 30%;
    margin-left: 4rem;
}

/*order*/
section.order{
    height: 500px;
    background: var(--primary);
    margin: 0;
    padding: 0;
    margin-bottom: 6rem;
    box-shadow: 0 25px 30px rgba(0,0,0,.5);
}
section.order .order-image img{
    height: 500px;

}
section.order .content{
    flex-direction: column;
}
section.order .content h1{
    font-family: 'Raleway-Bold';
    font-size: 3rem;
    margin-left: 4rem;
    margin-bottom: -1rem;
}
section.order .content p{
    font-family: 'Raleway-Medium';
    font-size: 1.5rem;
    margin: 2rem 4rem;
}
section.order .content button{
    width: 30%;
    margin-left: 4rem;
}

/*footer*/
footer{
    background: var(--footer);
    padding: 4rem 0;
}
footer .container{
    display: flex;
    color: var(--pure);
}
footer .box{
    flex: 1;
    margin-right: 2rem;
    text-align: center;
}
footer .instagram-api img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer .instagram-api .post-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .instagram-api .post-wrap > div{
    width: calc(1/3*100% - (1 - 1/3)*10px);
    margin-bottom: 10px;
}
footer .box ul{
    list-style-type: none;
}
footer .box ul li a{
    color: var(--pure);
    text-decoration: none;
    transition: all .3s ease;
}
footer .box ul li a:hover{
    color: var(--primary);
}
footer .box h3{
    border-bottom: 1px solid var(--primary);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
footer .box p{
    line-height: 1.6;
    margin-bottom: 1rem;
}
footer .box ul li{
    margin-bottom: 1rem;
}
footer .box:nth-child(3) > div{
    display: flex;
    justify-content: center;
}


footer .box:nth-child(3){
    text-align: left;
    
}
footer .box:nth-child(3) h3{
    text-align: center;
}
footer .box:nth-child(3) > div img{
    margin-right: 1rem;
}
footer .box:nth-child(3) ul li{
    margin-bottom: 1.5rem;
}

footer.copyright{
    padding: 1rem 0;
    background: var(--secondary);
    color: var(--pure);
    text-align: center;
    font-size: 0.75rem;
}
footer.copyright a{
    color: var(--primary);
    text-decoration: none;
    
}
